* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans serif;

}

header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 100px; 
    position: fixed;
    width: -webkit-fill-available;
    backdrop-filter: blur(1px);
}

.logo img {
    width: 100px; 
    height: auto; 
}

.navigation {
    display: flex;
    gap: 20px; 
}

.navigation a {
    text-decoration: none; 
    color: white; 
    font-size: 16px; 
    transition: background 0.3s ease; 
    text-transform: uppercase;
    text-decoration: none;
    align-items: right;
}

.navigation a:hover {
    background-color: #f0f0f0; 
    border-radius: 5px; 
}
.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/images/Bitmap.png);
    filter: grayscale(100%);
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */

}

.headline{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 80px;
    color:white;
    text-align: center;
    margin: 20px 0;
    position: relative;
    z-index: 1;
    padding-top: 200px;
    background-color: transparent;


}
.smiling{
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: small;
    margin: 10px 10px;
    gap: 40px;
    flex-direction: row;
    font-weight: bold;

}
.register{
   display: block;
   background-color: blueviolet;
   border: none;
   padding: 12px 24px;
   font-family:"Source Sans Pro", sans-serif;
   font-size: 20px;
   width: 200px;
   border-radius: 20px;
   cursor: pointer;
   margin: 30px auto;
   text-align: center;
    
}
.pros{
    color: white;
    font-size: medium;
    font-family:"Source Sans Pro", sans-serif;
    text-align: center;
    margin: auto;
}
.purpletext{
    color: blueviolet;
    font-weight: bold;
    margin-top: 100px;
    
    
}
.people{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;

}
.person1, .person2, .person3, .person4 {
    
    text-align: center; 
    border-radius: 10px; 
    
}
.person1 img, .person2 img, .person3 img, .person4 img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px; 
  }
  .quotes {
    font-weight: bold;
    font-size: 1.1rem; 
    color: #333; 
  }
  .presenter{
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
   background-color: purple;

  }
  .happy{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  }
  .happy div{
    max-width: 600px;
  }
  .happy div p{
    margin: 10px auto;
  }
  .tutorials{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #f0f0f0;
  }
  .videos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
  }
  .popular{
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .author img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px; 
  }

